.section-home-footer .container {
    padding: 30px 0px !important;
}

.section-home-footer .content-wrapper {
    grid-template-columns: repeat(5, max-content);
    justify-content: space-evenly;
}

.section-home-footer .section-title {
    font-size: 30px !important;
    padding-bottom: 30px !important;
}

.section-home-footer .copyright-wrapper {
    padding-top: 30px;
    text-align: center;
}

.global-footer {
    max-width: 450px;
    margin: 0 auto;
}