.site-header {
  z-index: 999;
  margin-top: 10vh;
  padding-bottom: 50px;
}

.main-header .main-header-wrapper {
  padding: 20px 0px;
}

.main-header .nav-main {
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  justify-content: space-between;
}

.main-header .nav-item {
  font-size: 12px;
  text-transform: uppercase;
  /* padding: 20px 27px; */
  font-family: var(--font-accent);
  font-weight: 500;
  transition: all .3s ease;
}

.main-header .nav-item:hover {
  color: var(--color-accent);
  transition: all .3s ease;
}

.main-header .nav-item.brand-logo img {
  width: auto;
  height: 60px;
}