.section-banner-home .border-line {
    left: 50%;
    right: 50%;
}

.section-banner-home .border-top {
    width: 1px;
    height: 54px;
    background-color: rgb(160 164 142 / 50%);
    margin-top: 15px;
    margin-bottom: 40px;
}

.section-banner-home .border-down {
    width: 1px;
    height: 54px;
    background-color: rgb(160 164 142 / 50%);
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-banner-home .content-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.banner-subtitle {
    font-size: 13px;
    font-family: var(--font-accent);
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a0a48e;
}

.banner-title {
    /* font-size: 62px; */
    font-size: 40px;
}

.border-horizontal {
    width: 120px;
    height: 1px;
    background-color: rgb(160 164 142 / 50%);
    position: absolute;
    left: 25%;
    top: 45%;
}