html {
    font-family: "Poppins", sans-serif;
}

.modul-tutup-undangan .modul-ganti-background,
.elementor-17072 .modul-isi--ganti-bg-footer:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/img/katalog-1.webp") !important;
}

.font-lora {
    font-family: "Lora", serif !important;
}

.modul-tutup--button-wrapper .elementor-button,
.gradasi-tema-1 {
    background-image: linear-gradient(180deg, #795548 0%, #272323 100%) !important;
}

.modul-isi--detail-mempelai {
    color: #D2B48C !important;
}

.color-tan {
    color: #D2B48C !important;
}

.color-white {
    color: #ffffff !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-tan {
    background-color: #D2B48C !important;
}

.bg-wheat {
    background-color: #F5DEB3 !important;
}

.elementor-17072 .elementor-element.modul-isi--section-countdown-ganti-bg:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: radial-gradient(at top center, #795548 35%, #272323 100%) !important;
}

.elementor-17072 .modul-isi--wrapper-mempelai-wanita:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/img/mempelai-wanita-1.png") !important;
}

.elementor-17072 .modul-isi--wrapper-mempelai-pria:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/img/mempelai-pria.png") !important;
}

.modul-isi--ganti-background .modul-ganti-background {
    background-image: url("/img/katalog-1-view-2.webp") !important;
}

.modul-footer--ganti-background {
    background-color: #D2B48C !important
}

.modul-isi--foto-save-the-date.curve-kiri .image-wrapper img {
    border-radius: 100px 0px 0px 0px;
}

.modul-isi--foto-save-the-date.curve-kanan .image-wrapper img {
    border-radius: 0px 100px 0px 0px;
}

.modul-isi--title-vertical .elementor-widget-wrap {
    background-image: linear-gradient(180deg, #795548 0%, #272323 100%) !important;
}

.modul-isi--btn-jam {
    padding: 5px !important;
}

.modul-isi--icon-clock .fa-clock:before {
    color: #ffffff !important;
}

.elementor-divider-separator {
    border-top-color: #272323 !important;
}

.modul-isi--ganti-bg-video {
    background-color: #D2B48C !important;
}

.modul-isi--ganti-photo-love-story .modul-isi--wrapper-ganti-photo-love-story {
    background-image: url("/img/katalog-1-view-4.jpeg") !important;
}

.modul-isi--ganti-bg-galeri:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-17072 .elementor-element.elementor-element-3f7b541f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: linear-gradient(92deg, #D2B48C 0%, #F5DEB3 100%) !important;
}

.elementor-widget-weddingpress-kit2 .cui-wrapper .cui-wrap-form .cui-container-form input[type=text],
.elementor-widget-weddingpress-kit2 .cui-wrapper .cui-wrap-form .cui-container-form textarea.cui-textarea {
    color: #D2B48C !important;
}

.cui-wrapper .modul-isi--edit-form-wrapper.cui-wrap-form .cui-container-form input#author {
    border-bottom: 1px solid #272323 !important;
}

.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"],
.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"] {
    background: #272323 !important;
    color: white !important;
}

.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"]:hover,
.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"]:hover {
    background: #F5DEB3 !important;
    color: #272323 !important;
}