.color-biru-1 {
    color: #90E0EF !important;
}

.color-dark-blue {
    color: #0077B6 !important;
}

.color-blue {
    color: #00B4D8 !important;
}

.color-light-blue {
    color: #CAF0F8 !important;
}

.bg-biru-1 {
    background: #90E0EF !important;
}

.bg-dark-blue {
    background: #0077B6 !important;
}

.bg-light-blue {
    background: #CAF0F8 !important;
}

h2,
.font-lora {
    font-family: "Lora", serif !important;
}

div,
span,
p,
.font-poppins {
    font-family: "Poppins", sans-serif !important;
}

.digivite-tema-2 {
    font-family: "Poppins", sans-serif !important;
}

.digivite-tema-2 .elementor-element.elementor-element-145a8bdb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-view-1.jpeg") !important;
}

.digivite-tema-2 .modul-tutup--ganti-nama h2.elementor-heading-title {
    font-family: "Lora", serif !important;
}

.digivite-tema-2 .modul-btn-tema-biru .elementor-button {
    background-image: linear-gradient(180deg, #90E0EF 0%, #0077B6 100%) !important;
}

.digivite-tema-2 .elementor-element.elementor-element-1d71fe5a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-2e086981:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-view-2.jpeg") !important;
}

.digivite-tema-2 .elementor-element.elementor-element-1c51a906:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-bg-daun-biru.png") !important;
}

.digivite-tema-2 .elementor-element.elementor-element-47b743b0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.digivite-tema-2 .elementor-element.elementor-element-d6835ae:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-16317f06:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-691011b0>.elementor-element-populated>.elementor-background-overlay,
.elementor-16458 .elementor-element.elementor-element-140ea999:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.digivite-tema-2 .elementor-element.elementor-element-623496a .elementor-social-icon,
.digivite-tema-2 .elementor-element.elementor-element-4214a06f .elementor-social-icon,
.elementor-16458 .elementor-element.elementor-element-f46ec30 .elementor-button {
    background-color: #0077B6 !important;
}

.digivite-tema-2 .elementor-element.elementor-element-35a3acc8>.elementor-element-populated,
.digivite-tema-2 .elementor-element.elementor-element-500b988e>.elementor-element-populated,
.elementor-16458 .elementor-element.elementor-element-544058bf>.elementor-element-populated {
    border-color: #00B4D8 !important;
}

.digivite-tema-2 .elementor-element.elementor-element-35a3acc8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-mempelai-cewe.jpeg") !important;
}

.digivite-tema-2 .elementor-element.elementor-element-500b988e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-mempelai-cowo.jpeg") !important;
}

.elementor-16458 .elementor-element.elementor-element-787672ac>.elementor-element-populated>.elementor-background-overlay {
    background-image: linear-gradient(180deg, #E0DFDF00 33%, #0077B6 94%) !important;
}

.elementor-16458 .elementor-element.elementor-element-787672ac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-1e7b1411:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: url("/katalog-2/img/katalog-2-view-3.jpeg") !important;
}

.elementor-16458 .elementor-element.elementor-element-822c9b5>.elementor-element-populated>.elementor-background-overlay {
    background-image: url("/katalog-2/img/katalog-2-view-4.jpeg") !important;
}

.elementor-16458 .elementor-element.elementor-element-691011b0>.elementor-element-populated>.elementor-background-overlay {
    background-image: unset !important;
    opacity: unset !important;
}

.elementor-16458 .elementor-element.elementor-element-a2dd610:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-57d758ed:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-2df009cf:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-66e079f2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-3dddfac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-29f96ef7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16458 .elementor-element.elementor-element-3a6000a6:not(.elementor-motion-effects-element-type-background) {
    background-color: #CAF0F8 !important;
}

.elementor-16458 .elementor-element.elementor-element-2e086981>.elementor-element-populated>.elementor-background-overlay,
.elementor-16458 .elementor-element.elementor-element-29f96ef7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap {
    background-image: linear-gradient(180deg, #E0DFDF00 33%, #CAF0F8 100%) !important;
}

.elementor-16458 .elementor-element.elementor-element-1e7b1411>.elementor-element-populated>.elementor-background-overlay {
    background-image: linear-gradient(180deg, #CAF0F8 0%, #DBD3CE00 44%) !important;
}

.elementor-16458 .elementor-element.elementor-element-74a517ba.elementor-view-stacked .elementor-icon {
    color: #0077B6 !important;
    right: 30px !important;
    position: sticky !important;
}

.modul-footer {
    /* background-color: #CAF0F8 !important; */
    inset-inline-start: 0px !important;
    width: 100% !important;
}

.modul-footer--column {
    background-color: #0077B6 !important;
}

.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"],
.cui-wrapper.cui-facebook .cui-wrap-form .cui-container-form input[type="submit"] {
    background: #0077B6 !important;
}

.elementor-16458 .elementor-element.elementor-element-4162f7fe .cuio-loading:before,
.elementor-16458 .elementor-element.elementor-element-596b313b .elementor-social-icon i {
    color: #0077B6 !important;
}

.modul-btn-tema-biru.elementor-element-323e1aa4 .elementor-button-wrapper {
    text-align: center;
}